.contact {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #fff, #fff4db);
    overflow: hidden;
}

.textContainer {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    column-gap: 0.5rem;
}

.textContainer h1{
    font-size: 3.6rem;
    padding-left: 150px;
}

.item h2{
    font-size: 2.2rem;
    padding-left: 150px;
}
.item span {
    padding-left: 150px;
    font-size: 1.2rem;
    font-weight: 300;
}



.formContainer {
    height: 100%;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.phoneSvg {
    stroke: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.contact form {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 30px;
    z-index: 2;
}

.contact input,
.contact textarea {
    font-size: 1rem;
    padding: 20px;
    background-color: transparent;
    border: 1px solid orange;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.contact button{
    padding: 20px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.5rem;
        padding: 0.5rem 0;
    }

    .textContainer {
        width: 70%;
        display: flex;
        align-items: start;
        justify-content: center;
        row-gap: 0.5rem;
    }
    
    .textContainer h1{
        font-size: 1.6rem;
        padding-left: 0;
    }
    
    .item h2{
        font-size: 1.2rem;
        padding-left: 0;
    }
    .item span {
        font-size: 1rem;
        font-weight: 300;
        padding-left: 0;
    }
       
    
    .formContainer {
        width: 70%;
        flex: 3;
        position: relative;
        align-items: start;
        justify-content: center;
    }
    
    .phoneSvg {
        stroke: orange;
        position: absolute;
        top: 65%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .contact form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        row-gap: 10px;
    }
    
    .contact input,
    .contact textarea {
        font-size: 1rem;
        padding: 10px;
        background-color: transparent;
        border: 1px solid orange;
        color: rgb(0, 0, 0);
        border-radius: 5px;
    }

    .contact textarea {
        height: 100px;
    }
    
    .contact button{
        padding: 10px;
        border: none;
        border-radius: 15px;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
    }
   
}